				<div class="card-box">
					<%= simple_form_for :search_log_records, url: search_log_records_path do |f| %>
						<div class="row">
							<div class="col-2">
								<label><%= I18n.t("label_professionals.onepharma_id") %></label>
								<%= f.input :customer_id, as: :string,input_html: { oninput: 'this.value = this.value.replace(/[^0-9]/g, "")' }, label: false  %>
							</div>
							<div class="col-2"></div>
							<div class="col-8"></div>
						</div>
						<div class="row">
							<div class="col-4">
								<label><%= I18n.t("label_institutions.record_previous_values") %></label>
								<%= f.input :record_previous_values, as: :string, label: false  %>
							</div>
							<div class="col-6"></div>
						</div>
						<div class="row">
							<div class="col-3">

							</div>
							<div class="col-2"></div>
							<div class="col-7"></div>
						</div>
						<br>
						<div class="row">
							<div class="col-12 d-flex" style="justify-content: center;">
								<div style="margin-right: 20px;">
									<%= button_tag type: "submit", class: "btn btn-dark_green waves-effect waves-light" do  %>
										<span class="btn-label"><i class="fa-solid fa-magnifying-glass"></i>
										</span><%= I18n.t("buttons.search") %>
									<% end %>
								</div>

							</div>
						</div>
					<% end %>
					<hr>
					<br>
					<br>
					<%= render "log_records_section" %>
				</div>
