<div id="professional_searched_table" data-controller="datatable" data-datatable-search_translation-value=<%= I18n.t("datatable.search")%>>
    <table class="border table table-striped table-bordered no-footer" cellspacing="0" role="grid" aria-describedby="datatable-buttons_info" style="width:100%;">
        <thead>
            <tr>
                <th> <%= I18n.t("label_professionals.onepharma_id")%> </th>
                <th> <%= I18n.t("label_professionals.professional_number")%> </th>
                <th> <%= I18n.t("label_professionals.full_name")%> </th>
                <th> <%= I18n.t("label_specialties.specialty")%> </th>
                <th> <%= I18n.t("label_affiliations.affiliations")%> </th>
                <th style="width:25%;"> <%= I18n.t("label_prof_dept_affiliations.fill_the_fields_for_new_prof_dept_affiliation")%> </th>

            </tr>
        </thead>
        <tbody id="professional_searched_table_fill">

        </tbody>
    </table>
</div>
