<%= turbo_frame_tag "generic_responsive_modal" do %>
    <div class="modal-dialog" style="max-width: 1500px !important;">
        <div class="modal-content">
            <div class="modal-header" style="border:0px;padding-bottom:0px;">
                <h4 class="modal-title"><%= I18n.t("label_prof_dept_affiliations.fill_the_fields_for_new_prof_dept_affiliation") %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-weight: bolder; font-size: 30px;">
                    <span style="color:#5fbeaa;">X</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <hr>
                <h5>
                    <div>
                    <i class="fa-solid fa-house-chimney"></i> <%= @institution.FULL_NAME %>
                    <span class="label" style="color:#caced2"><div class="fa fa-arrow-right"></div></span>
                    <%= @department.LAST_NAME %>
                    </div>
                </h5>
                <br>
                <%= simple_form_for :search, url: search_professionals_path(department_id: @department.CUSTOMER_ID, professionals_from_department_ids: @professionals_from_department_ids) do |f| %>
                    <div class="row">
                        <div class="col-2">
                            <label><%= I18n.t("label_professionals.onepharma_id") %></label>
                            <%= f.input :customer_id, as: :string,input_html: { oninput: 'this.value = this.value.replace(/[^0-9]/g, "")' }, label: false  %>
                            <hr style="color:#5fbeaa;">

                        </div>
                        <div class="col-2" style="border-left: 3px solid #5fbeaa;">
                            <label><%= I18n.t("label_professionals.professional_number") %></label>
                            <%= f.input :num_ordem, as: :string, label: false  %>
                            <hr style="color:#5fbeaa;">
                        </div>
                        <div class="col-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                        <label><%= I18n.t("label_professionals.full_name") %></label>
                            <%= f.input :full_name, as: :string, label: false  %>
                        </div>
                        <div class="col-3">
                            <label><%= I18n.t("label_specialties.specialty") %></label>
                            <%= f.input :specialty, as: :select, collection: @specialties_list_for_select, label: false, input_html: { data: { controller: "select2"}, style:"height: 35px !important;" } %>
                        </div>
                        <div class="col-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-3">

                        </div>
                        <div class="col-2"></div>
                        <div class="col-7"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <%= button_tag type: "submit", class: "btn btn-dark_green waves-effect waves-light" do  %>
                                <span class="btn-label"><i class="fa-solid fa-magnifying-glass"></i>
                                </span><%= I18n.t("buttons.search") %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
                <br>
                <%= render 'prof_dept_affiliations/modals/institution_add_new_prof_dept_affiliation_table' %>
            </div>
        </div>
    </div>
<% end %>
