<tr class="row competency_line align-items-center" style="display: table-row;" id="<%= dom_id(elem) %>">
    <td>
        <%= elem.SPECIALTY_RANK %>
        <% if [1, 2].include?(elem.SPECIALTY_RANK) %>
            <a><%= image_tag('other_logos/salesforce.png', style: "width: auto; height: 30px;") %></a>
        <% end %>
    </td>
    <td>
        <%= @competencies_list_hash[elem.SPECIALTY] %>
    </td>
    <% if current_user.can_do?("database_edit") %>
        <td style="white-space:nowrap;">
            <%= link_to edit_professional_competency_path(@professional.CUSTOMER_ID, elem.CUSTOMER_SPECIALTY_ID.to_s),
                        class: "btn btn-dark_green inactive_button_border",
                        data: {turbo_frame: "generic_responsive_modal"} do  %>
                <span><i class="fa-solid fa-pen"></i></span>
            <% end %>
            <%= link_to professional_competency_path(@professional.CUSTOMER_ID, elem.CUSTOMER_SPECIALTY_ID.to_s),
                        class: "btn btn-dark_danger inactive_button_border",
                        data:{turbo_confirm: t("popup_alerts.confirm_delete_competency"), turbo_method: :delete} do  %>
                <span><i class="fa-solid fa-trash"></i></span>
            <% end %>
        </td>
    <% end %>
</tr>
