<div class="row">
    <div class="col-6">
        <%= f.input :CUSTOMER_TYPE, as: :select, collection: @professional_type_list_for_select,
            input_html:{
                    data: {controller: "select2"},
                    disabled: current_user.can_do?("database_edit") ? nil : "disabled"
                } %>
    </div>
    <div class="col-6">
        <%= f.input :CUSTOMER_SUB_TYPE, as: :select, collection: @professional_sub_type_list_for_select,
    input_html:{
            data: {controller: "select2"},
            disabled: current_user.can_do?("database_edit") ? nil : "disabled"
        } %>
    </div>
</div>
<div class="row">
    <div class="col-6">
       <%= f.input :FIRST_NAME, as: :string,
                input_html: {
                    oninput: "let start = this.selectionStart; let end = this.selectionEnd; this.value = this.value.toUpperCase(); this.setSelectionRange(start, end);",
                    style: "width: 100%;"
                } %>
    </div>
    <div class="col-6">
        <%= f.input :LAST_NAME, as: :string,
                input_html: {
                    oninput: "let start = this.selectionStart; let end = this.selectionEnd; this.value = this.value.toUpperCase(); this.setSelectionRange(start, end);",
                    style: "width: 100%;"
                } %>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <%= f.input :SHORT_NAME, as: :string,
                input_html: {
                    oninput: "let start = this.selectionStart; let end = this.selectionEnd; this.value = this.value.toUpperCase(); this.setSelectionRange(start, end);",
                    style: "width: 100%;"
                } %>
    </div>
    <div class="col-4">
        <%= f.input :EXTERNAL_ID_1, as: :string,
                input_html: {
                    oninput: "let start = this.selectionStart; let end = this.selectionEnd; this.value = this.value.toUpperCase(); this.setSelectionRange(start, end);",
                    style: "width: 100%;"
                } %>
    </div>
</div>
