<div id="log_records_searched_table_container" data-controller="datatable" class="table-responsive" data-datatable-search_translation-value=<%= I18n.t("datatable.search")%>>
    <h4><%#= @main_object_full_name %></h4>
    <br>
    <table id="log_records_searched_table"
        downloadable="true"
        class="border table table-striped table-bordered"
        cellspacing="0" role="grid" aria-describedby="datatable-buttons_info" style="width:100%;">
        <thead>
            <tr>
                <th> <%= I18n.t("label_log_records.loggable_id")%> </th>
                <th> <%= I18n.t("label_log_records.action_type")%> </th>
                <th> <%= I18n.t("label_log_records.old_value")%> </th>
                <th> <%= I18n.t("label_log_records.new_value")%> </th>
                <th> <%= I18n.t("label_log_records.created_at")%> </th>
                <th> <%= I18n.t("label_log_records.user_id")%> </th>
            </tr>
        </thead>
        <tbody>
            <% if @log_record_activity_list.present?%>
                <% @log_record_activity_list.each do |activity_record| %>
                <tr>
                    <td> <%= activity_record.loggable_type %> </td>
                    <td> <%= activity_record.action_type %> </td>
                    <td>
                        <% old_vals =   if activity_record.old_value.is_a?(Hash)
                                            activity_record.old_value
                                        elsif activity_record.old_value.present?
                                            JSON.parse(activity_record.old_value) rescue {}
                                        else
                                            {}
                                        end %>

                        <% if old_vals.any? %>
                            <% old_vals.each do |k, v| %>
                                <% if v.present? %>
                                    <p>
                                        -<%= I18n.t("label_#{activity_record.loggable_type.split('::').last.downcase.pluralize}.#{k}") %>: <%= v %>
                                    </p>
                                <% end %>
                            <% end %>
                        <% else %>
                            <p></p>
                        <% end %>
                    </td>
                    <td> <%#= activity_record.new_value %>
                        <% new_vals =   if activity_record.new_value.is_a?(Hash)
                                            activity_record.new_value
                                        elsif activity_record.new_value.present?
                                            JSON.parse(activity_record.new_value) rescue {}
                                        else
                                            {}
                                        end %>

                        <% if new_vals.any? %>
                            <% new_vals.each do |k, v| %>
                                <% if v.present? %>
                                <p>
                                    -<%= I18n.t("label_#{activity_record.loggable_type.split('::').last.downcase.pluralize}.#{k}") %>: <%= v %>
                                </p>
                                <% end %>
                            <% end %>
                        <% else %>
                            <p></p>
                        <% end %>
                    </td>
                    <td> <%= activity_record.created_at %> </td>
                    <td> <%= @users_email[activity_record.user_id] %> </td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
