<tr class="row affiliation_line align-items-center <%= "label-light_dark_danger" if elem.STATUS != 'ACTV' %>" style="display: table-row;"
    id="<%= dom_id(elem) %>">
    <td>
        <%= @affiliation_owners_list_hash[(elem.COMPANY_DB_OWNER)] %>
    </td>
    <td>
        <%= I18n.t("label_professionals.#{elem.STATUS}")  %>
    </td>
    <td>
        <%= @affiliation_roles_list_hash[elem.AFFILIATION_ROLE_1] %>
    </td>
    <td>
        <div style="display: flex;">
            <%= link_to edit_institution_path(@departments_list_hash[elem.TO_CUSTOMER_ID].dept_inst_affiliations[0].TO_CUSTOMER_ID),
                        title: I18n.t("mouseover_messages.go_to_institution_file"),
                        target: "_blank",
                        style: "text-decoration: none;" do %>
                <i class="md fa-solid fa-house-chimney"></i>
                <span><%= @departments_list_hash[elem.TO_CUSTOMER_ID].institution.FULL_NAME %></span>

            <% end %>
            <% if elem.AFFILIATION_MAIN == 1 %>
                <span style="margin-left: 10px; text-align: center; vertical-align:middle;">
                <i class="fa fa-star"></i>
                </span>
            <% end %>
        </div>
    </td>
    <td>
        <%= @departments_list_hash[elem.TO_CUSTOMER_ID].LAST_NAME %>
    </td>
    <td>
        <%= elem.AFFILIATION_ID %>
    </td>
    <td>
        <%= elem.STATUS_CHANGE_DATE %>
    </td>
    <td>
        <%= elem.CREATION_DATE %>
    </td>
    <% if current_user.can_do?("database_edit") %>
        <td>
            <%= link_to edit_prof_dept_affiliation_path(elem.AFFILIATION_ID),
                        class: "btn btn-dark_green inactive_button_border",
                        data: {turbo_frame: "generic_responsive_modal"} do  %>
                <span><i class="fa-solid fa-pen"></i></span>
            <% end %>
            <%#= link_to prof_dept_affiliation_path(elem.AFFILIATION_ID),
                        class: "btn btn-dark_danger inactive_button_border",
                        data:{turbo_confirm: t("popup_alerts.confirm_delete_affiliation"), turbo_method: :delete} do  <span><i class="fa-solid fa-trash"></i></span>%>
            <%# end %>
        </td>
    <% end %>
</tr>
