<div id="specialties_section" >
    <h4> <%= I18n.t("label_specialties.specialties") %> </h4>
    <div class="row" data-controller="formtoggle">
        <div class="col-12">
            <% if current_user.can_do?("database_edit") %>
                <div data-formtoggle-target="hideable" class="form-group ">
                    <button  data-action="formtoggle#toggleTargets" id="add_department" class="btn btn-dark_green waves-effect waves-light hideable" do  >
                    <span class="btn-label">
                        <i class="fa-solid fa-plus-large"></i>
                    </span>
                        <%= I18n.t("label_specialties.new_especialty") %>
                    </button>
                </div>
            <% end %>
            <div data-formtoggle-target="hideable" hidden>
                <%= render "specialties/form" %>
            </div>
            <hr>
            <div id="professional_specialty_list">
                <table class="border table table-striped table-bordered no-footer" cellspacing="0" role="grid" data-controller="datatable__" aria-describedby="datatable-buttons_info">
                    <thead>
                        <tr>
                            <th> <%= I18n.t("label_specialties.rank") %> </th>
                            <th> <%= I18n.t("label_specialties.specialty") %> </th>
                            <% if current_user.can_do?("database_edit") %>
                                <th></th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody id="specialty" >
                        <% @professional.specialties.order(SPECIALTY_RANK: :asc).each do |elem| %>
                            <%= render "professionals/specialty_table_line", elem: elem %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
