<div id="departments_for_select">
    <%= simple_form_for @new_prof_dept_affiliation, url: prof_dept_affiliations_path(institution_id: @institution&.CUSTOMER_ID) do |f| %>
        <%= f.hidden_field :FROM_CUSTOMER_ID, data: {
                                                formtoggle_dontclear: true
                                            } %>
        <div class="row">
            <div class="col-7">
                    <%= f.input :TO_CUSTOMER_ID, as: :select, collection: @institution_departments_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>
            </div>
            <div class="col-5">
                    <%= f.input :AFFILIATION_ROLE_1, as: :select, collection: @affiliation_roles_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>
                    <%#= f.input :COMPANY_DB_OWNER, as: :select, collection: @affiliation_owners_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>

            </div>
        </div>
        <div class="form-group" style="margin-top: 29px; text-align: center;">
            <button class="btn btn-dark_green" type="submit" style="width: 10%;"><i class="fa-solid fa-check"></i></button>
            <%= button_tag type: :button, class: "btn btn-dark_danger", style: "width: 10%", data: {action: "formtoggle#toggleTargets", dismiss: "modal"} do %>
                <i class="fa-solid fa-ban"></i>
            <% end %>
        </div>
    <% end %>
</div>
