<%= turbo_frame_tag "generic_responsive_modal" do %>
    <div class="modal-dialog" style="max-width: 500px !important;">
        <div class="modal-content">
            <div class="modal-header" style="border:0px;padding-bottom:0px;">
                <h4 class="modal-title"><%= I18n.t("label_prof_dept_affiliations.edit_affiliation") %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-weight: bolder; font-size: 30px;">
                    <span style="color:#5fbeaa;">X</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <hr>
                <h5 style="text-align: justify">
                    <i class="fa-solid fa-house-chimney"></i>
                    <%= @prof_dept_affiliation.TO_NAME %> <%#= @institution.FULL_NAME %>
                </h5>
                 <%= I18n.t("label_prof_dept_affiliations.fill_the_fields_for_edit_prof_dept_affiliation") %>
            </div>
            <div>
                <div id="departments_for_select">
                    <%= render "prof_dept_affiliations/edit_departments_for_select_form" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
