<div>
    <%= simple_form_for @prof_dept_affiliation, url: prof_dept_affiliation_path(id: @prof_dept_affiliation.AFFILIATION_ID) do |f| %>
        <%= f.hidden_field :FROM_CUSTOMER_ID, data: {
                                                formtoggle_dontclear: true
                                            } %>
        <div class="row">
            <div class="col-0">
                <%#= f.input :TO_CUSTOMER_ID, as: :select, collection: @institution_departments_list_for_select,
                            input_html:{
                                data: {
                                    controller: "select2",
                                    select2_placeholder_value: I18n.t("placeholder.select2")
                                }
                            } %>
            </div>
            <div class="col-12">
                <%= f.input :AFFILIATION_ROLE_1, as: :select, collection: @affiliation_roles_list_for_select,
                            input_html:{
                                data: {
                                    controller: "select2",
                                    select2_placeholder_value: I18n.t("placeholder.select2")
                                }
                            } %>
                <%#= f.input :COMPANY_DB_OWNER, as: :select, collection: @affiliation_owners_list_for_select,
                            input_html:{
                                data: {
                                    controller: "select2",
                                    select2_placeholder_value: I18n.t("placeholder.select2")
                                }
                            } %>
                <%= f.input :STATUS, as: :select, collection: Onepharma::Affiliation::STATUS_LIST.map { |status| [I18n.t("label_departments.#{status}"), status] }, input_html: { data: {controller: "select2"} } %>

                <div class="custom-control custom-checkbox">
                    <%= f.check_box :AFFILIATION_MAIN, class: "custom-control-input", id: :AFFILIATION_MAIN, :onclick => "return confirm('#{I18n.t("popup_alerts.affiliation_main_change")}')" %>
                            <label class="custom-control-label" for="<%= :AFFILIATION_MAIN %>">
                                <%= I18n.t("label_affiliations.affiliation_main") %>
                            </label>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top: 29px;">
                <div class="form-group" style="width:50%; place-self: center;
">
                    <button class="btn btn-dark_green btn-block waves-effect waves-light" type="submit"><%= I18n.t("buttons.update") %></button>
                </div>
            </div>
        </div>
    <% end %>
</div>
