<div>
    <%= simple_form_for @prof_dept_affiliation, url: update_through_institution_path(id: @prof_dept_affiliation.AFFILIATION_ID) do |f| %>
        <%= f.hidden_field :FROM_CUSTOMER_ID, data: {
                                                formtoggle_dontclear: true
                                            } %>
        <div class="row">
            <div class="col-6">
                <h5 style="text-align: justify">
                    <i class="fa-solid fa-house-chimney"></i>
                    <%= @prof_dept_affiliation.TO_NAME %> <%#= @institution.FULL_NAME %>
                </h5>
                    <%#= f.input :TO_CUSTOMER_ID, as: :select, collection: @institution_departments_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>
            </div>
            <div class="col-4">
                    <%= f.input :AFFILIATION_ROLE_1, as: :select, collection: @affiliation_roles_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>
                    <%#= f.input :COMPANY_DB_OWNER, as: :select, collection: @affiliation_owners_list_for_select,
                                input_html:{
                                    data: {
                                        controller: "select2",
                                        select2_placeholder_value: I18n.t("placeholder.select2")
                                    }
                                } %>
                    <%= f.input :STATUS, as: :select, collection: Onepharma::Affiliation::STATUS_LIST.map { |status| [I18n.t("label_departments.#{status}"), status] }, input_html: { data: {controller: "select2"} } %>

            </div>
            <div class="col-2" >
                <div class="form-group" style="margin-top: 29px;">
                    <button class="btn btn-dark_green" type="submit"><i class="fa-solid fa-check"></i></button>
                    <%= button_tag type: :button, class: "btn btn-dark_danger", data: {action: "formtoggle#toggleTargets", dismiss: "modal"} do %>
                        <i class="fa-solid fa-ban"></i>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
