<div id="<%= dom_id(@professional) %>">
    <%= simple_form_for @professional, url: professional_path(@professional.CUSTOMER_ID) do |f| %>
        <fieldset <%= 'disabled="disabled"' unless current_user.can_do?("database_edit") %>>
            <div class="row">
                <div class="col-md-6">
                    <%= f.input :STATUS_CHANGE_REASON, as: :select, collection: @validation_type_list_for_select,
                        selected: @status_change_reason_value,
                        input_html:{
                            data: {
                                controller: "select2",
                                select2_alertonselect_value: [["1","2","3","7","8","11","12"], I18n.t("popup_alerts.professional_affiliations_inactivate")]
                                },
                            disabled: current_user.can_do?("database_edit") ? nil : "disabled"
                        }
                    %>
                    <% @professional.VALIDATION_STATUS %>
                </div>
                <div class="col-md-6" style="align-content: center;">
                    <h5>
                        <div class="center <%= @professional.STATUS == 'ACTV'? "label-regular_green" : "label-light_dark_danger" %>">
                            <%= I18n.t("label_professionals.#{@professional.STATUS}") %>
                        </div>
                    </h5>
                </div>
                <hr>
            </div>
            <%= render 'professionals/form', f: f %>
            <br>
            <%= render 'professionals/professional_details', f: f %>
            <br>
            <%#= render 'institutions/address_zones'%>
            <% if current_user.can_do?("database_edit") %>
                <div class="form-group text-center m-t-40">
                    <div class="col-12">
                        <button class="btn btn-dark_green btn-block waves-effect waves-light" type="submit" style="width:50%;"><%= I18n.t("buttons.save") %></button>
                    </div>
                </div>
            <% end %>
        </fieldset>
    <% end %>
</div>
