<style>
    #professional_searched_table th {
        text-align: center !important;
    }

</style>

<div id="professional_searched_table_container" data-controller="datatable" class="table-responsive" data-datatable-search_translation-value=<%= I18n.t("datatable.search")%>>
    <%# Como o filtro aplica os filtros da datatable é necessário passar so
        valores como aparece compilado na tabela, conseguimos isso pelas traducoes dos estados
        Tal como nas pesquisas da tabelaé precis ter em atenção os valores de pesquisa
        por exemplo o inactivo e activo que partilham a mesma combinacao de caracteres
        neste caso um " " resolve
    %>
    <%
            dt_quick_search = [{
                col_num: 1,
                value: I18n.t("label_professionals.ACTV"),
                button_text: I18n.t("label_professionals.filter_only_active"),
                button_icon_class: "fa-solid fa-eye"
            }]
    %>
    <% raw dt_quick_search.to_json %>
    <table id="professional_searched_table"
        data-quick-search='{
            "field_1":"2", "value_1":"<%= I18n.t("label_professionals.ACTV")%>", "button_text_1":"<%= I18n.t("label_professionals.filter_only_active")%>"
            }'
        downloadable="true"
        class="border table table-striped table-bordered"
        cellspacing="0" role="grid" aria-describedby="datatable-buttons_info" style="width:100%;">
        <thead>
            <tr>
                <th> <%= I18n.t("label_professionals.onepharma_id")%> </th>
                <th> <%= I18n.t("label_professionals.professional_number")%> </th>
                <th> <%= I18n.t("label_professionals.status")%> </th>
                <th> <%= I18n.t("label_professionals.full_name")%> </th>
                <th> <%= I18n.t("label_specialties.specialty")%> </th>
                <th> <%= I18n.t("label_affiliations.affiliations")%> </th>
            </tr>
        </thead>
        <tbody id="professional_searched_table_fill">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
